d_x:0.2427030537923177
d_y:0.20848853386773003
Lat:51.3417
Long:-0.712
Exposure:1
Exp_range:0.5,1,5,10
Gain:25
Gain_range:2,5,25,50
Ramdisk:True
Camera Type ('QHY' or 'ASI'):ASI
pixel scale:15.4
Drive ('scopedog' or 'servocat'):none
Test mode:0
Goto++ mode:0
Seestar_ssid:S50_astrokeith
Seestar_password:12345678
Seestar_exposure:10
Seestar_filter:0
Seestar_heater:0
scope_focal_length:2032
default_eyepiece:1300
Eyepiece1:8mm Ethos,8,100
Eyepiece2:10mm Ethos,10,100
Eyepiece3:13mm Ethos,13,100
Eyepiece4:21mm Ethos,21,100
frame:30,20
noTitle:1
screen:960x544
